<div class="jumbotron center">
  <h1>Welcome to the BookShelf</h1>

  <h2>
    This is a web-base book management system.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
