<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, class: "control-label" %>
      <%= f.text_field :email, class: "form-control" %>

      <%= f.label :password, class: "control-label" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary"  %>
    <% end %>

    <p class="under-the-button">New user? <%= link_to "Sign up now!", signup_path, class: "link-sign-up-now" %></p>
  </div>
</div>
