<%= render 'shared/error_messages' %>

<%= f.label :name, class: "control-label" %>
<%= f.text_field :name, class: "form-control" %>

<%= f.label :email, class: "control-label" %>
<%= f.text_field :email, class: "form-control" %>

<%= f.label :password, class: "control-label" %>
<%= f.password_field :password, class: "form-control" %>

<%= f.label :password_confirmation, "Confirm Password", class: "control-label" %>
<%= f.password_field :password_confirmation, class: "form-control" %>
