<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section>
      <h1>
        <%= gravatar_for @user, size: 100 %>
        <%= @user.name %>
      </h1>
    </section>
    <div class="book-link-menu">
      <ul>
        <li><%= link_to 'Borrowed Books', user_path(@user) %></li>
        <li><%= link_to 'My Books', user_books_path(id: @user.id) %></li>
      </ul>
      <%= link_to 'Add a Book!', new_book_path, class: "btn btn-large btn-primary add-book-button" %>
    </div>
  </aside>
  <div class="col-md-9">
    <h3><%= @list_title %></h3>
    <ul class="books">
      <%= render @books %>
    </ul>
  </div>
</div>
