<% provide(:title, 'Add a book') %>
<h1>Add a book!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@book) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Add a book", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
