<footer>
  <small>
    code <a href="https://github.com/toku345/bookshelf" target='_blank'>here</a> !!
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
